<section class="jumbotron text-center">
  <div class="container">
    <%= form_with url: root_path, method: :get, local: true do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :query, class: 'form-control', placeholder: 'What are you in a mood for today? eg: Politics, bitcoin, etc...' %>
        <div class="input-group-append">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <%= render 'shared/article', article: article, translate: @translate %>
      <% end %>
    </div>
  </div>
</div>
