<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <% if article.url_to_image %>
              <img class="card-img-top" src="<%= article.url_to_image %>" alt="article image">
            <% else %>
              <img class="card-img-top"
                   data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=no-image"
                   alt="article image">
            <% end %>

            <div class="card-body">
              <h5><%= article.title %></h5>
              <p class="card-text"><%= truncate(article.description, length: 100) %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Read', article.url, class: 'btn btn-sm btn-primary' %>
                </div>

                <!-- <small class="text-muted">
                  Published <%#= time_ago_in_words(article.publishedAt) %> ago
                </small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
