<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <% if article.urlToImage %>
      <img class="card-img-top" src="<%= article.urlToImage %>" alt="article image">
    <% else %>
      <img class="card-img-top"
           data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=no-image"
           alt="article image">
    <% end %>

    <div class="card-body">
      <% title_st = sanitize translate.translate(article.title || 'no title', to: 'st').text %>
      <% description_st = sanitize translate.translate(article.description || 'no description', to: 'st').text %>

      <h5><%= title_st %></h5>
      <p class="card-text"><%= description_st %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'Read', article.url, class: 'btn btn-sm btn-primary' %>

          <%= form_with url: articles_path, local: true do |f| %>
            <%= f.hidden_field :title, value: title_st %>
            <%= f.hidden_field :description, value: description_st %>
            <%= f.hidden_field :url, value: article.url %>
            <%= f.hidden_field :url_to_image, value: article.urlToImage %>
            <%= f.submit 'Save', class: 'btn btn-sm btn-outline-secondary' %>
          <% end %>
        </div>

        <small class="text-muted">
          Published <%= time_ago_in_words(article.publishedAt) %> ago
        </small>
      </div>
    </div>
  </div>
</div>
