<% content_for :title do %>About<% end %>
<h3> <u>About the Website</u></h3>

<p>
  This web page is build to host the pages extrated <br>
  by the crawler and published here form more an adequate <br>
  ability to allow users to use and manipulate these as they like.<br>
</p>

<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>

</p>

<p>

   <h4>This web page has been made possible for</h4> <br>
   <h4> <u>IDC PROJECT </u> </h4> <br>
   <h5>done by the student,<h5><br>
    <ul>
    <li>Meunze R.W,</li> <br>
    <li>213142496<br></li>
  </ul>

   <h5><u>Contact</u> <br>
     <br>
 Fill free to contact us for what ever consirning this web page or other inquiry ...
 </h5>
   <ul>
   <li>Contact: 078 231 4575 </li><br>
   <li>Email: roocka19@gmail.com </li><br>
   <li>Address: 4 Burger street </li><br>
   <li>Centurion </li><br>
   <li> 0157 </li><br>
 </ul>

</p>



<p>
  <h4> <%= link_to('join Craft Academy', 'https://www.craftacademy.se/english/') %> </h4> <br>
  12 Week of bootcamp<br>
  Learn to code as a craft<br>
</p>
