<footer class="text-muted">
  <div class="container">
    <!-- <p class="float-right">
      <a href="#">Back to top</a>
    </p> -->
    <p>Project build by William, R. Meunze for IDC Final project</p>
  </div>
</footer>
